<%= form_with(model: @article) do |form| %>
  <!-- Title field -->
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <!-- Content field -->
  <div class="field">
    <%= form.label :content %>
    <%= form.hidden_field :content, id: :article_content %>
    <trix-editor input="article_content"></trix-editor>
  </div>

  <!-- Submit button -->
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>